.h1Header {
  color: #ffc505;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

.buttonRefresh {
  display:block;
  margin:20px auto;
}

.content {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  max-width: 250px;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border: 5px solid #bdbdbd;
  }

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.comments {
  font-size: 15px;
  margin: 0;
}

.link {
  font-size: 13px;
  margin: 0;
}

